# Workflow for testing Sophie

name: Sophie Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events for the "main" branch 
  pull_request:
    types: [ opened, reopened, review-requested ]
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job
  linux:
    # The type of runner that the job will run on
    name: bash conformance
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs multiple commands using the runners shell
      - name: Sophie self-lint
        run: |
          chmod +rx sophie.sh
          ./sophie.sh
          
  macOS-11:
  
    name: macOS-11 conformance
    runs-on: macos-11

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs multiple commands using the runners shell
      - name: Sophie self-lint
        run: |
          chmod +rx sophie.sh
          ./sophie.sh

  macOS-latest:
  
    name: macOS-latest conformance
    runs-on: macos-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs multiple commands using the runners shell
      - name: Sophie self-lint
        run: |
          chmod +rx sophie.sh
          ./sophie.sh
